[Unit]
Description=Y-Bot TCP Socket Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/socket/servusai-socket.sh
Restart=always

[Install]
WantedBy=multi-user.target

