[Unit]
Description=Y-Bot Viber Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/viber/servusai-kik.sh
Restart=always

[Install]
WantedBy=multi-user.target

