[Unit]
Description=Y-Bot Google Talk Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/xmpp/servusai-xmpp.sh
Restart=always

[Install]
WantedBy=multi-user.target

