requests
flask
python-dateutil
beautifulsoup4
lxml
wikipedia
pylint
nose
coverage
pyyaml
tweepy
sleekxmpp

# Uncomment this line on Osx or Linux if you want to use sanic rest client
# Sanic is not supported on Windows !
# sanic

