[Unit]
Description=Y-Bot Web Chat Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/web/servusai-web.sh
Restart=always

[Install]
WantedBy=multi-user.target

