[Unit]
Description=Y-Bot REST Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/rest/servusai-rest.sh
Restart=always

[Install]
WantedBy=multi-user.target

