[Unit]
Description=Y-Bot Line Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/line/servusai-twilio.sh
Restart=always

[Install]
WantedBy=multi-user.target

