[Unit]
Description=Y-Bot Twitter Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/twitter/servusai-twitter.sh
Restart=always

[Install]
WantedBy=multi-user.target

