[Unit]
Description=Y-Bot Twilio Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/facebook/servusai-twilio.sh
Restart=always

[Install]
WantedBy=multi-user.target

