[Unit]
Description=Y-Bot Telegram Client

[Service]
User=ubuntu
ExecStart=/opt/program-y/bots/servusai/servusai-telegram.sh
Restart=always

[Install]
WantedBy=multi-user.target

